  <div class="login">
    <% if @errors %>
    <%= render '/errors' %>
    <% end %>
    <%= form_tag(sessions_path, method: "post") do %>
    <h1 id="form-h1">Login</h1>
    <br>
    <p>
      <%= label_tag(:email, "Email") %>
      <%= text_field_tag :email %>
    </p>

    <p>
      <%= label_tag :password, "Password" %>
      <%= password_field_tag :password %>
    </p>

    <p>
      <%= submit_tag("Submit", class: "form-btn")%>
    </p>
    <% end %>
  </div>
