<h2>Edit User</h2>

<% if @errors %>
  <%= render '/errors' %>
<% end %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name%>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :max_donation %>
    <%= f.text_field :max_donation %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
