<div class="user-forms">
  <% if @errors %>
  <%= render '/errors' %>
  <% end %>

  <%= form_for @user do |f| %>
  <h1 id="user-forms-h1">Edit User</h1>
  <br>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name%>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <p>
     <%= f.label :max_donation %>
     <%= f.text_field :max_donation %>
   </p>
   <%= f.submit class: "user-forms-btn" %>
 </p>
 <% end %>
</div>
