<div class="user-forms">

  <% if @errors %>
  <%= render '/errors' %>
  <% end %>

  <%= form_for @user do |f| %>
  <h1 id="user-forms-h1">Register</h1>
  <br>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name%>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name%>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit class: "user-forms-btn" %>
  </p>
  <% end %>
</div>
