<h1 id='welcome'>Welcome <%= current_user.first_name %>!</h1>

<%= link_to "Edit info", edit_user_path, :method => :get %> <br><br>

<% if !current_user.plaid_id %>
  <h3>Connect Your Bank Account</h3>
  <button id="linkButton">Connect Your Bank Account</button>
<% else %>
  <%= current_user.first_name %> has already connected an account.
<% end %>

<h3><%= current_user.first_name %>'s Transactions This Month</h3>
  <% if current_user.transactions %>
    <p>Thanks, <%= current_user.first_name %>! You will be donating: $<span id="donation-amount" ><%= @user.bucket %></span> to <%= '%.2f' % current_user.current_charity_name || 'somewhere great...' %></p>
  <% end %>
  <% if current_user.plaid_id != nil %>
    <%= form_tag(users_charity_pause_path, method: "put") do %>
      <%= submit_tag("Stop Donating") %>
    <% end %>
  <% end %>

<h3><%= current_user.first_name %>'s Charity Choice</h3>
  <% if current_user.current_charity_name %>
    <p><%= current_user.first_name %>'s Current Charity is: <%= current_user.current_charity_name %></p>
  <% else %>
    <p><%= current_user.first_name %> does not have a charity selected.</p>
  <% end %>

  <div class="charity-search-form">
    <%= form_tag(charities_path, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
  <div class="donation-history-button">
    <a href="/users/<%= current_user.id %>/history">Donation History</a>  
  </div>
