<h1 id='welcome'>Welcome <%= @user.first_name.titleize %>!</h1>

<div class="edit-user">
</div>


<div class="cards">
  <div class="card">

    <div class="card-image">
      <%= image_tag('real-coins.jpeg') %>
    </div>
    <div class="card-header">
    <% if !@user.plaid_id %>
      <h3 class='card-text'>Click to Connect Your Bank Account</h3>
    <% else %>
      <p class='card-text'>You have already connected an account.</p>
      <% end %>
    </div>
      <div id='button-container'>
       <% if @user.plaid_id != nil %>
          <%= form_tag(users_charity_pause_path, method: "put", id: 'pause-form') do %>
            <%= submit_tag("Pause Donations", class: "style-btn") %>
          <% end %>
        <% else %>
          <button class='style-btn linkButton'>Connect Bank Account</button>
        <% end %>
      </div>
  </div>


  <div class="card">
    <div class="card-image">
      <section id='user-bucket'>
        <%=image_tag('jar-of-coins.jpeg', size: '200', class: 'user-bucket-img') %>
        <p id='bucket-text'>$<%= '%.2f' % @user.bucket %></p>
      </section>

      <h1><%= @user.bucket %></h1>
    </div>
    <div class="card-header">
      <h3 class='card-text'>Round up total for <%= Date::MONTHNAMES[Date.today.month] %></h3>
    </div>
    <div class="card-copy card-text" id='round-up'>
        <% if @user.transactions %>
          <p>Thanks, <%= @user.first_name.titleize %>! You will be donating: $<span id="donation-amount" ><%= '%.2f' % @user.bucket %></span> to <%= @user.current_charity_name || 'somewhere great...' %></p>
        <% end %>

    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag('giving-hand.jpeg', size: '200') %>
    </div>
    <div class="card-header">
<h3 class='card-text'><%= @user.first_name.titleize %>'s Charity Choice</h3>
    </div>
    <div class="card-copy card-text">
        <% if @user.current_charity_name %>
          <%= link_to @user.current_charity_name, charity_path(@user.current_charity_ein), :method => :get %>
        <% else %>
          <p><%= @user.first_name.titleize %> does not have a charity selected.</p>
          <%= link_to "Find a Charity", charities_path, :method => :get %>

        <% end %>
    </div>
  </div>
</div>


<div class="donation-history-button">
  <a href="/users/<%= @user.id %>/edit">
    <button class='style-btn'>
      Edit Information
    </button>
  </a>

  <a href="/users/<%= @user.id %>/history">
    <button class='style-btn'>
      Donation History
    </button>
  </a>
</div> <br><br>

