

<%= form_tag(users_path, method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

  <div id="charities-container">
      <% if @charities %>
        <%= render partial: "/charities/_show", locals: {charities: @charities} %>
      <% end %>
    </ul>
  </div>
