
    <%= @charity['charityName'] %>

  <% if @charity['website'] != "" %>
    <p><a href="http://<%= @charity['website'] %>"><%= @charity['website'] %></a>
  <% else %>
    <p>Website: Information Not Provided</p>
  <% end %>

  <% if @charity['missionStatement'] != "" %>
    <p> <%= @charity['missionStatement']%></p>
  <% else %>
    <p>Mission Statement: Information Not Provided</p>
  <% end %>


<%= form_tag(users_charity_update_path, method: "put") do %>
  <%= hidden_field_tag "charity_name", @charity['charityName'] %>
  <%= submit_tag("Make this My Charity") %>
<% end %>

<p><a href="https://www.guidestar.org/profile/<%= guidestar_ein(@charity['ein']) %>">GuideStar Rating</a>
