<h1 class='title'>spareChange</h1>

<div class="flex-boxes">
  <a href="/about" class="flex-box flex-box-big"  >
    <%= image_tag('coins.png') %>
  <h1 class="flex-title box-title">How It Works</h1>
    <p class='how-to'>Using our secure login-system, you register your debit card and we round up each of your transactions. Once you reach $5 in round-ups, we debit your account and donate the money to the charity of your choosing.</p>
  </a>
  <%if current_user %>
    <a href='users/<%=current_user.id%>' class="flex-box">
    <%= image_tag('user.png') %>
  <% else %>
    <a href='/users/new' class="flex-box">
    <%= image_tag('new_user.png') %>
  <% end %>
    <h1 class="flex-title box-title">
    <% if current_user %>
      <p><div class='box-title'>View <%= current_user.first_name %>'s Profile</div></p>
    <% else %>
      <p>Join Today!</p>
    <% end %>
    </h1>
    <p>
    <% if current_user %>
      See your current donation amount, change your bank account or update user info
    <% else %>
      Join spareChange today to begin donating to <em>your</em> favorite charity  
    <% end %>
    </p>
  </a>
  <a href="charities" class="flex-box flex-box-big">
    <%= image_tag('list_icon.png') %>
    <h1 class="flex-title box-title">Top 5 Charities for <%= Date::MONTHNAMES[Date.today.month] %></h1>
        <% @top_five.each do |charity_array| %>
          <p><%= charity_array[:name].titleize %>------$<%= charity_array[:amount] %></p>
        <% end %>

  </a>
  <a href="about" class="flex-box">
    <%= image_tag('spareChange.png') %>
    <h1 class="flex-title box-title">Mission Statement</h1>
    <p>Here at spareChange, we are dedicated to making a difference one cent at a time...</p>
  </a>
</div>
<br><br><br><br><br><br><br><br><br><br>