<h1 class='title'>spareChange</h1>

<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <%= image_tag('spareChange.jpeg') %>
    <h1 class="flex-title box-title">Our Mission:</h1>
    <p>Here at spareChange, we are dedicated to making a difference one cent at a time...</p>
  </a>
  <a href='users/"#{current_user.id}"' class="flex-box">
  <%#= link_to 'current_user.first_name', user_path(current_user) %>
    <%= image_tag('spareChange.jpeg') %>
    <h1 class="flex-title box-title"> View <%= current_user.first_name %>'s Profile</h1>
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <%= image_tag('spareChange.jpeg') %>
    <h1 class="flex-title">Top 5 Charities for <%= Date::MONTHNAMES[Date.today.month] %></h1>
    <p>
      <ul>
        <% @top_five.each do |charity_array| %>
          <li><%= charity_array[:name].titleize %>------$<%= charity_array[:amount] %></li>
        <% end %>
      </ul>
    </p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <%= image_tag('spareChange.jpeg') %>
    <h1 class="flex-title">Flex Box Item</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati in provident illo.</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <%= image_tag('spareChange.jpeg') %>
    <h1 class="flex-title">Last Flex Box Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
</div>


<% if !current_user %>
  <%= link_to 'Join Now!', new_user_path %>
<% end %>

<h2>Top 5 Charities for <%= Date::MONTHNAMES[Date.today.month] %></h2>
<ol>
  <% @top_five.each do |charity_array| %>
    <li><%= charity_array[:name].titleize %>------$<%= charity_array[:amount] %></li>
  <% end %>
</ol>
