<!DOCTYPE html>
<html>
<head>
  <title>SpareChange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
<nav>
    <div id="logo"></div>
    <!-- <img src="<%= asset_path( 'Logomakr_7EW1mV.png' ) %>" style="width:150px;height:100px;" alt="logo" /> -->

  <ul id='nav-ul'>
      <li><%= link_to 'Home', root_path %></li>
      <% if logged_in? %>
        <li class='nav-list'><%= link_to current_user.first_name, user_path(current_user), :method => :get %></li>
        <li class='nav-list'><%= link_to "logout", session_path(session[:user_id]), :method => :delete %></li>
        <li class='nav-list'><%= render '/charities/search' %></li>
      <% else %>
        <li class='nav-list'><%= link_to "register", new_user_path, :method => :get %></li>
        <li class='nav-list'><%= link_to "login", new_session_path, :method => :get %></li>
      <% end %>
  </ul>
</nav>
<%= yield %>

</body>
</html>
